<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>gorocery Mart</title>
    <link rel="stylesheet" href="/style/home.css" />
</svg>
</svg>
</head>
<body>
    <header>
        <h2>Supreme Grocery Mart</h2> 
    </header>
    <div class="container">
        <form action="/search" method="POST" style="display:inline;">
          <input name="product" type="text" placeholder="Product" id="prod" required /> &nbsp;
          <button type="submit">Search</button>  
        </form>
        <br>
        <br>
        <form action="/create" method="GET" style="display:inline;"><button type="submit" value="prod">Add Item</button></form>
        <form action="/index" method="GET" style="display:inline;"><button type="submit">See Stock Details</button></form>
    </div> 
    <footer>
        <p>&copy; 2025 Supreme Grocery Mart
        Developed by ShijasMon
        Version 1.0</p>
    </footer>
</body>
</html>